$primary: #313131;
$primary-dark: #242424;
$secondary: #2e2e2eef;
$secondary-light: #4d4d4d;
$text-background: #b5b5b5;

//fonts
$font-main: "Libre Baskerville", serif;
$font-desc: "Nunito", sans-serif;
$font-text: "Montserrat", sans-serif;

$font-color-primary: #fff;
$font-color-secondary: #bbbbbb;
$font-color-secondary-dark: #777777;
