$primary: #313131;
$primary-dark: #242424;
$secondary: #2e2e2eef;
$secondary-light: #4D4D4D;
$text-background: #B5B5B5;

//fonts
$font-main: 'Libre Baskerville', serif; 
$font-desc: 'Nunito', sans-serif;
$font-text: 'Montserrat', sans-serif;

$font-color-primary: #fff;
$font-color-secondary: #bbbbbb;
$font-color-secondary-dark: #777777;
